In [6]:
import pandas as pd

walk = pd.read_csv("https://data.wprdc.org/dataset/4d3d4324-b32a-4519-b56f-cee2340057bf/resource/682b1df1-a63b-4413-9362-ba077af63baa/download/walkscorect.xls-walk-score-by-ct.csv")

In [12]:
walk.head(20)

    Census Tract  Walk Score
0          10300          82
1          20100         100
2          20300          83
3          30500          77
4          40200          71
5          40400          82
6          40500          78
7          40600          75
8          40900          68
9          50100          60
10         50600          74
11         50900          77
12         51000          58
13         51100          62
14         60300          91
15         60500          88
16         70300          91
17         70500          88
18         70600          77
19         70800          88